<div class="row" id="preferences">
  <div class="col s10 offset-s2">
    <form action="<%= search_flights_path %>" method="get">
      <select name="origin" class="col s2">
        <option value="" disabled selected>Origin</option>
        <% @airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.airport_name %></option>
        <% end %>
      </select>
      <select name="destination" class="col s2">
        <option value="" disabled selected>Destination</option>
        <% @airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.airport_name %></option>
        <% end %>
      </select>
      <select name="passenger" class="col s2">
        <option value="" disabled selected>No. of passengers</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
      <input name="flight_date" type="date" class="datepicker col s2" placeholder="Date">
      <button class="btn-floating btn-large waves-effect waves-light blue" col s2"" type="submit" name="action">
        <i class="material-icons">search</i>
      </button>
    </form>
  </div>
</div>
