<div class="row" id="available-parent">
  <div class="col s10 offset-s1" id="available">
    <table class="striped responsive-table centered">
      <thead>
        <tr>
          <th data-field="name">BOOKING CODE</th>
          <th data-field="name">EMAIL</th>
          <th data-field="name">CREATED ON</th>
          <th data-field="name">FLIGHT CODE</th>
          <th data-field="name">AIRLINE CODE</th>
          <th data-field="name">DEPARTURE DATE</th>
          <th data-field="name">ARRIVAL DATE</th>
          <th data-field="name">PASSENGERS</th>
        </tr>
      </thead>
      <tbody>
        <div class="row">

          <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.booking_code %></td>
            <td><%= booking.email %></td>
            <td><%= booking.created_at %></td>
            <td>$<%= booking.flight_code %></td>
            <td>$<%= booking.airline_code %></td>
            <td>$<%= booking.departure_date %></td>
            <td>$<%= booking.arrival_date %></td>
            <td>
              <ul>
                <% booking.passengers.each do |passenger| %>
                <li><%= passenger.passenger_name %></li>
                <li><%= passenger.passport_number %></li>
                <% end %>
              </ul>
            </td>
            <td>
              <%= link_to 'DELETE', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating btn-large waves-effect waves-light blue" %>
            </td>
          </tr>
          <% end %>
        </div>
      </tbody>
    </table>
    <%=link_to "BACK", "/", :class=>"btn waves-effect waves-light blue"%>
  </div>
</div>
