<div class="row" id="available-parent">
  <div class="col s10 offset-s2" id="available">
    <table class="striped responsive-table centered">
      <thead>
        <tr>
          <th data-field="name">BOOKING CODE</th>
          <th data-field="name">EMAIL</th>
          <th data-field="name">CREATED ON</th>
          <th data-field="name">FLIGHT CODE</th>
          <th data-field="name">AIRLINE CODE</th>
          <th data-field="name">DEPARTURE DATE</th>
          <th data-field="name">ARRIVAL DATE</th>
          <th data-field="name">PASSENGERS</th>
        </tr>
      </thead>
      <tbody>
        <% @booking.each do |booking| %>
        <div class="row">
          <tr>
            <td><%= booking.booking_code %></td>
            <td><%= booking.email %></td>
            <td><%= booking.created_at %></td>
            <td><%= booking.flight.flight_code %></td>
            <td><%= booking.flight.airline_code %></td>
            <td><%= booking.flight.departure_date %></td>
            <td><%= booking.flight.arrival_date %></td>
            <td>
              <ul>
                <% booking.passengers.each do |passenger| %>
                <li><%= passenger.passenger_name %></li>
                <li><%= passenger.passport_number %></li>
                <% end %>
              </ul>
            </td>
            <% if current_user %>
            <td>
              <%= link_to "EDIT", edit_booking_path(booking), class: "btn-floating btn-large blue" %>
            </td>
            <% end %>
          </tr>
        </div>
        <% end %>
      </tbody>
    </table>
    <%= link_to "BACK", "/", :class=>"btn blue back"%>
  </div>
</div>
