<p id="notice"><%= notice %></p>

<p>
  <strong>Flight id:</strong>
  <%= @booking.flight_id %>
</p>

<p>
  <strong>Booking code:</strong>
  <%= @booking.booking_code %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
