<div class="row" id="login-page">
  <div class="col s12 z-depth-6 card-panel" id="login-details">
    <% if flash[:notice] %>
    <div class="row margin">
      <div class="input-field col s12">
        <p>
          <%= flash[:notice] %>
        </p>
      </div>
    </div>
    <% end %>
    <%= form_tag(send_reset_email_path, method: "post", class:"login-form") do %>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= email_field_tag "email", nil, class: "validate", required: true %>
          <%= label_tag "email", "Email", class: "center-align", :data => { :error => 'Wrong' } %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= button_tag(type: "submit", class: "submit btn waves-effect waves-light blue col s12", disable_with: "Resetting...") do %>
           Reset
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
