<div class="row current-user">
  <div class="col s7 z-depth-6 card-panel center" id="user-details">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>
    <p>
      <strong>Middle name:</strong>
      <%= @user.middle_name %>
    </p>
    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <%= link_to 'Back', root_path , class: "btn-large waves-effect waves-light blue back"%>
  </div>
</div>
