<!DOCTYPE html>
<html>
  <head>
    <title>Wings</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div id="header">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">flightset</a>
            <a href="#" data-activates="slide-out" class="button-collapse">
              <i class="material-icons">menu</i>
            </a>
            <ul class="side-nav" id="slide-out">
              <li>
                <a href="sass.html">
                  <i class="material-icons menu-option">lock_open</i>
                  Sign In
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
              <li>
                <a href="badges.html">
                  <i class="material-icons menu-option">input</i>
                  Sign Up
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header">
                      <i class="material-icons menu-option">assignment</i>
                      <span class="dropdown-parent">Bookings</span>
                    </a>
                    <div class="collapsible-body">
                      <ul>
                        <li>
                          <a href="#!">Manage bookings</a>
                        </li>
                        <li>
                          <a href="#!">Past bookings</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div id="main">

      <%= yield %>

    </div>

    <div id="footer">
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Get Social</h5>
              <ul>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">
                    <%= image_tag("social_facebook", height: '32', width: '32') %>
                  </a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">
                    <%= image_tag("social_twitter", height: '32', width: '32') %>
                  </a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">
                    <%= image_tag("social_instagram", height: '32', width: '32') %>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">About us</a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">Contact us</a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">Terms</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2016 Copyright Flightset
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
