<!DOCTYPE html>
<html>
  <head>
    <title>Flightset</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div id="header">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="<%= root_path %>" class="brand-logo center">flightset</a>
            <a href="#" data-activates="slide-out" class="button-collapse" id="menu">
              <i class="material-icons">menu</i>
            </a>
            <ul id="dropdown-top" class="dropdown-content">
              <li>
                <a href="<%= root_path %>">Reserve flight</a>
              </li>
              <% if current_user %>
              <li>
                <a href="<%= past_bookings_path %>">Past bookings</a>
              </li>
              <% end %>
              <li class="divider"></li>
              <li>
                <a href="<%= manage_bookings_path %>">Manage bookings</a>
              </li>
            </ul>
            <ul class="right hide-on-med-and-down main-nav">
              <% if current_user %>
              <li class="top-right">
                <a href="<%= user_path(current_user.id) %>" class="top-right">
                  <i class="material-icons menu-option top-right">input</i>
                  <%= current_user.first_name %>
                </a>
              </li>
              <li class="top-right">
                <a href="<%= logout_path %>" class="top-right" data-method="delete" rel="nofollow">
                  <i class="material-icons menu-option top-right">lock_open</i>
                  Log Out
                </a>
              </li>
            <% else %>
              <li class="top-right">
                <a href="<%= login_path %>" class="top-right">
                  <i class="material-icons menu-option top-right">lock_open</i>
                  Sign In
                </a>
              </li>
              <li class="top-right">
                <a href="<%= new_user_path %>" class="top-right">
                  <i class="material-icons menu-option top-right">input</i>
                  Sign Up
                </a>
              </li>
              <% end %>
              <li class="top-right">
                <a class="dropdown-button top-right" href="#" data-activates="dropdown-top">
                  <i class="material-icons left menu-option">assignment</i>
                  <span class="dropdown-parent">Bookings</span>
                </a>
              </li>
            </ul>
            <ul class="side-nav" id="slide-out">
              <% if current_user %>
              <li>
                <a href="<%= user_path(current_user.id) %>">
                  <i class="material-icons menu-option">input</i>
                  <%= current_user.first_name %>
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
              <li>
                <a href="<%= logout_path %>" data-method="delete" rel="nofollow">
                  <i class="material-icons menu-option">lock_open</i>
                  Log Out
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
            <% else %>
              <li>
                <a href="<%= login_path %>">
                  <i class="material-icons menu-option">lock_open</i>
                  Sign In
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
              <li>
                <a href="<%= new_user_path %>">
                  <i class="material-icons menu-option">input</i>
                  Sign Up
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
              <% end %>
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header">
                      <i class="material-icons menu-option">assignment</i>
                      <span class="dropdown-parent">Bookings</span>
                    </a>
                    <div class="collapsible-body">
                      <ul>
                        <li>
                          <a href="<%= root_path %>">Reserve flight</a>
                        </li>
                        <li>
                          <% if current_user %>
                          <a href="<%= past_bookings_path %>">Past bookings</a>
                          <% end %>
                        </li>
                        <li>
                          <a href="<%= manage_bookings_path %>">Manage bookings</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div id="main">

      <%= yield %>

    </div>

    <div id="footer">
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s6" id="social">
              <h5 class="white-text">Get Social</h5>
              <ul>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">
                    <%= image_tag("social_facebook", height: '32', width: '32') %>
                  </a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">
                    <%= image_tag("social_twitter", height: '32', width: '32') %>
                  </a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">
                    <%= image_tag("social_instagram", height: '32', width: '32') %>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col l4 offset-l2 s6" id="more-information">
              <h5 class="white-text">Links</h5>
              <ul>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">About us</a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">Contact us</a>
                </li>
                <li class="footer-link">
                  <a class="grey-text text-lighten-3" href="#!">Terms</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2016 Copyright Flightset
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
